
@{
    ViewData["Title"] = "About";
}

<div class="container">
    <h2>Hakkımda</h2>
    <hr />
    <br />
    <p>
        Sivas Cumhuriyet Üniversitesi Bilgisayar Mühendisliğini okudum. Web Projeleri, Web Otomasyonları ile uğraşmaktayım.&nbsp;  Eğitim sürecim içerisinde araştırma, öz motivasyon, girişimcilik ve farklı yetenekler edinme noktasında kendimi geliştirdim. Farklı eğitimlerle ve yaptığım bireysel araştırmalarla kendimi iş hayatına hazırlamaya çalıştım.
    </p>
    <br />
    <p>
        İş yaşamında efektif ve hızlı olmak konusunda son derece özverili ve hevesli olduğumu, yapacağım işlerin gerektirdiği sorumluluğu merak ve istekle üzerime almak istediğimi belirtmek isterim. İstekli, özenli ve dikkatli çalışmanın mutlaka başarı ile sonuçlanacağının bilincindeyim.&nbsp;
    </p>
    <br /><br /><br />
    <div class="row">
        <div class="col-md-6">
            <div class="col-md-10">
                <table class="table">
                    <tr>
                        <td class="text-primary">Ad</td>
                        <td>Enes</td>
                    </tr>
                    <tr>
                        <td class="text-primary">Soyad</td>
                        <td>CEMCİR</td>
                    </tr>
                    <tr>
                        <td class="text-primary">Yaş</td>
                        <td>26</td>
                    </tr>
                    <tr>
                        <td class="text-primary">Şehir</td>
                        <td>Tokat</td>
                    </tr>
                    <tr>
                        <td class="text-primary">Bölüm</td>
                        <td>Bilgisayar Mühendisliği</td>
                    </tr>
                    <tr>
                        <td class="text-primary">Telefon</td>
                        <td>+90506 149 80 25</td>
                    </tr>
                    <tr>
                        <td class="text-primary">Mail</td>
                        <td>enescemcir1994@gmail.com</td>
                    </tr>
                </table>
            </div>
            <br /><br />
            <div class="row">
                <div style="background-color:aliceblue" class="lx-quote">
                    <h4>Günün Sözü</h4>
                    <p>
                        <i class="fa fa-quote-left"></i>
                        &nbsp;Çok zeki olduğumdan değil sorunlarla uğraşmaktan vazgeçmediğimden kazanıyorum&nbsp;
                        <i class="fa fa-quote-right"></i>
                    </p>
                    <em class="col-md-12 offset-9">Albert Einstein</em>
                    <br />
                </div>
            </div>
            <br /><br />
        </div>
        <div class="col-md-6">
            <img src="~/images/enes.jpg" width="700" height="1000" />
        </div>
    </div>
    <br /><br /><br />
</div>


