
@{
    ViewData["Title"] = "GetComments";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Yorumlar</title>   
</head>
<body>
    
</body>
</html>


