@model EveryDayArticle.Web.Models.ArticleModel

@{
    ViewData["Title"] = "GetArticles";
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>GetArticles</title>

    <script src="~/js/article.js"></script>
</head>
<body style="background-color:#F0F0F0;">
    <script>
        /*
        $(document).ready(function () {
            $("#comment").hide();
        });
        */
    </script>
</body>
</html>
