@model EveryDayArticle.Business.Concreate.Message

<div class="row">
    <div class="col-md-12">
        @if (Model.Messages.Count > 0) {
            <div class="alert alert-@Model.Css">
                @foreach (var item in Model.Messages) {
                    <p>@item</p>
                }
            </div>
        }
        else {
        <div class="alert alert-@Model.Css">
            <h4 class="alert-title">@Model.Title</h4>
            <p>@Model.Content</p>
        </div>
        }
    </div>
</div>