@model EveryDayArticle.Web.Models.ResetModel
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}

@if (ViewBag.status == "success")
{
    <br />
    <div class="row">
        <div class="alert alert-info col-md-6">
            Şifre yenileme linki e-posta adresine gönderilmiştir e-posta adresinizi kontrol ediniz
        </div>
    </div>
}
else {
    <div class="row">
        <div class="container">
            <div class="col-md-6">
                <br />
                <h1>Şifremi Unuttum</h1>
                <hr />
                <div class="alert alert-info">
                    Yeni şifre belirlemek için kayıtlı e-posta adresinizi yazınız
                    Şifre değiştirme linkini e-posta adresinize göndereceğiz
                </div>
                @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post))
                {
                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">E-Posta</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(Model => Model.Email, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Email)
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-md-10 offset-md-2">
                            <button type="submit" class="btn btn-primary">
                                Gönder
                            </button>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
}

