@model EveryDayArticle.Web.Models.PasswordResetModel

@{
    ViewData["Title"] = "ResetPasswordConfirm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
}

@if (ViewBag.status == "success") {
    <br />
    <div class="alert alert-info">
        Şifreniz başarıyla yenilenmiştir. Giriş sayfasından yeni şifreniz ile giriş yapabilirsiniz
    </div>
}
else {
    <div class="row">
        <div class="container">
            <div class="col-md-8">
                <br />
                @Html.ValidationSummary()
                <br />
                <h1>Şifre Yenileme Formu</h1>
                <hr />
                @using (Html.BeginForm("ResetPasswordConfirm", "Account", FormMethod.Post)) {

                    <div class="form-group row">
                        <label class="col-md-2 col-form-label">Şifre</label>
                        <div class="col-md-10">
                            @Html.PasswordFor(model => model.PasswordNew, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PasswordNew)
                        </div>
                    </div>

                    <div class="form-group row">
                        <div class="col-md-10 offset-md-2">
                            <button type="submit" value="save" name="btn" class="btn btn-primary">
                                Yeni şifre oluştur
                            </button>
                        </div>
                    </div>
                }
            </div>

        </div>
    </div>
}